* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #fdf2e9;
  overflow-x: hidden;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.header {
  background-color: #fdf8e9e8;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

/* LOGO */
.brand-name {
  margin-left: 5%;
}
.j {
  font-size: 180%;
  color: #cf711f;
  text-shadow: 2px 0px #e67e22;
}
.af {
  color: #cf711f;
  font-size: 130%;
}

/********* NAVIGATION *********/
.nav-items {
  padding: 10px 0;
  margin-right: 40px;
}
.main-nav-link:link,
.main-nav-link:visited {
  padding-right: 30px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
/* CONTACT BUTTON */
.btnn {
  text-decoration: none;
  font-size: 20px;
  /* font-weight: 600; */
  padding: 7px 14px;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

/******** HERO *******/
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  font-family: "Tenali Ramakrishna", sans-serif;
}

.img {
  /* margin: 1px 15px; */
  width: 200px;
  height: 50%;
  border-radius: 50%;
}
.img:hover {
  width: 202px;
  height: 51%;
}
.intro-hello,
.intro-name {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
.wave {
  font-size: 75%;
}
.stack {
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 25px;
  font-weight: bold;
}
.btnn-cv {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 14px;
}
.icon-cv {
  margin-right: 5px;
}
.bt:link,
.bt:visited {
  background-color: #e67e22;
  color: #fff;
}
.bt:hover,
.bt:active {
  background-color: #cf711f;
  color: #fff;
}

/* ****** ABOUT *******/
.about {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.about-container {
  padding: 5% 3%;
  background-color: #fff;
  border-radius: 10px 10px;
  margin-left: 20px;
  width: 80%;
}
.about,
.services {
  text-align: center;
  margin-bottom: 12px;
  font-size: 28px;
}
.about-text {
  font-size: 20px;
  line-height: 1.8;
  padding-top: 20px;
}

.photo-speaks {
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 50%;
  height: 50%;
  gap: 40px;
}

.about-img {
  width: 50%;
  height: 50%;
  border-radius: 0px 20px 0px 20px;
}

/* SERVICES */
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5%;
  width: 90%;
  margin: 0 5%;
}

.services-head {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}

.img-flex-container {
  display: flex;
  justify-content: space-between;
}

.services-img {
  width: 300px;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.3s;
}

.services-content {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.services-text {
  width: 300px;
  height: 150px;
  justify-content: center;
  background-color: #faf9f6;
}

#services {
  margin-bottom: 100px;
}
.img-services-2 {
  width: 50%;
  height: 20%;
}

h4 {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 30px;
}
.services-h4 {
  margin-top: 5px;
}
.services-p {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 30px;
}
.skills {
  border: 2px dotted #555;
  border-radius: 10px 10px;
  padding: 20px;
}
.skills-h3 {
  margin-bottom: 15px;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.list-icon {
  width: 20px;
  height: 20px;
  color: #333;
}

/* CONTACT */
.contact-me {
  margin: 50px;
}
.contact-h1 {
  margin-left: 20px;
}
.form-details {
  margin: 20px;
}
.ct-form input,
.ct-form textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.ct-form input::placeholder {
  color: #aaa;
}
.form-container {
  width: 80%;
  margin: 5% 10%;
  padding: 3%;
  background-color: #e67e22;
  color: #45260a;
  border-radius: 0px 20px 0px 20px;
}
.ct-form {
  margin-bottom: 20px;
}

.btnn-submit:hover {
  font-size: 21px;
}
.socials {
  margin-top: 50px;
  text-align: center;
}
hr.line {
  margin-top: 50px;
  color: white;
}
.icon {
  font-size: 20px;
  color: #45260a;
  margin-top: 10px;
  padding-right: 20px;
}
.icon:hover {
  color: #333;
}
.icon-t:hover {
  color: #00acee;
}
.icon-i:hover {
  color: #0072b1;
}
.socials p {
  margin-bottom: 5px;
  font-size: 18px;
}

/***************************/
/* BELOW 900px  */
@media (max-width: 900px) {
  .img-flex-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    overflow: hidden;
  }

  .skills {
    width: 300px;
    border: 2px dotted #555;
    border-radius: 10px 10px;
    padding: 10px;
  }
}

/* BELOW 600px  */
@media (max-width: 600px) {
  .introduction {
    padding: 50px 0;
  }
  .stack {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }

  .img-flex-container {
    flex-direction: column;
    gap: 40px;
  }

  .skills {
    border: 2px dotted #555;
    border-radius: 10px 10px;
    padding: 5px;
  }

  .form-container {
    width: 100%;
    font-size: larger;
    margin: 5% 5%;
    /* padding: 2%; */
    background-color: #e67e22;
    color: #45260a;
    border-radius: 0px 20px 0px 20px;
  }
  .ct-form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
  }

  .form-details {
    font-size: larger;
  }
}

@media (max-width: 500px) {
  .header {
    background-color: #fdf8e9e8;
    display: flex;
    justify-content: center;
    padding: 2px 0;
    gap: -10px;
  }

  .nav-items {
    margin-right: 5px;
  }

  .main-nav-link:link {
    padding-right: 10px;
  }

  .bt-ct {
    text-decoration: none;
    font-size: 12px;
    padding: 7px 14px;
    border-radius: 9px;
  }
  .brand-name {
    position: relative;
    top: 0;
  }
}
